.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 41, 38, 0.5);
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: 1200;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #EFF7E8;
  border-radius: 25px;
  padding: 30px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: calc(100% - 40px);
  max-width: 1310px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  @media (max-width: 768px) {
    padding: 20px 10px 20px 10px;
  }
}

.closeButtonWrapper {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  background-color: #EFF7E8;
  border-radius: 50%;
  padding: 0 5px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .modalWrapper {
    // padding: 0;
    width: calc(100% - 20px);
  }
  
  .modalOverlay {
    padding: 10px;
  }
}