@use '@styles/_variables.scss' as variables;

.password {
  position: relative;
  display: flex;
  align-items: center;
}

.visibilityButton {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: variables.$light-gray-color;
}