@use '@styles/_variables.scss' as variables;

.sliderContainer {
  display: flex;
  align-items: center;
  gap: 0;
  width: 100%;
  // padding: 15px 0;
  position: relative;
  overflow: hidden;

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.navButton {
  // width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s;
  flex-shrink: 0;
  z-index: 2;
  margin: 0 5px;
  transition: transform 0.1s ease, filter 0.1s ease;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: default;
    filter: grayscale(80%);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    transform: scale(0.9);
    filter: brightness(0.85);
    background: none;
    box-shadow: none;
  }
}

.arrowIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.leftArrow {
  transform: scaleX(-1);
}

.sliderWrapper {
  flex: 1;
  position: relative;
  height: 90px;
  overflow: hidden;
}

.track {
  display: flex;
  height: 100%;
  align-items: center;
  transition: transform 0.3s ease-out;
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 0;
}

.item {
  min-width: 60px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease;
  position: relative;
  padding: 5px 5px;
  cursor: pointer;
  
  &.active {
    padding: 0;
  }

  &:hover {
      font-weight: 600;
    }
}

.normal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: variables.$primary-color;
  gap: 2px;
}

.selected {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid variables.$primary-color;
  gap: 2px;
}

.dateText {
  font-size: 12px;
  font-weight: 600;
}

.timeText {
  font-size: 12px;
}

.hourItem {
  .normal, .selected {
    .dateText {
      font-size: 12px;
    }
    .timeText {
      font-size: 12px;
    }
  }
}

.dayItem {
  .normal, .selected {
    .dateText {
      font-size: 12px;
    }
    .timeText {
      font-size: 12px;
      text-transform: lowercase;
    }
  }
}