@use '@styles/_variables.scss' as variables;

.list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 800px;
}

.item {
  padding: 10px 14px;
  border-radius: 6px;
  margin-bottom: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: variables.$primary-color;

  &:hover {
    background-color: variables.$hover-gray-color;
  }

  &:focus {
    outline: 2px solid variables.$primary-color;
    background-color: variables.$hover-gray-color;
  }
}

.empty {
  margin: 10px 0 0 14px;
}
