@use '@styles/_variables.scss' as variables;

.card {
  border: 1px solid variables.$light-gray-color;
  border-radius: 16px;
}

.header {
  border-bottom: 1px solid variables.$light-gray-color;
  padding: 10px 20px;
  border-radius: 16px 16px 0 0;
}

.body {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 15px 20px;
}

.dateCard {
  // border-radius: 0 12px 12px 0;
  padding: 0 0 0 7px;
  width: 90px;
  text-align: left;
  border-left: 1px solid variables.$light-gray-color;
}
