@use '@styles/_variables.scss' as variables;

.h1 {
  font-size: 25px;
  font-weight: bold;
}

.h2 {
  font-size: 20px;
  font-weight: bold;
}

.h3 {
  font-size: 15px;
  
  &.thin {
    font-weight: 400;
  }
  
  &.bold {
    font-weight: 600;
  }
}

.h4 {
  font-size: 13px;
  
  &.gray {
    font-weight: 500;
    color: variables.$light-gray-color;
  }
  
  &.bold {
    font-weight: 600;
  }
  
  &.thin {
    font-weight: 400;
  }
}

.h4 b{
  font-weight: 600;
}

.body {
  font-size: 12px;
  color: variables.$secondary-color;
}

.body1 {
  font-size: 1rem;
}

.body2 {
  font-size: 0.875rem;
}

.caption {
  font-size: 0.75rem;
  color: variables.$dark-gray-color;
}

.error {
  color: variables.$red-color;
  display: block;
  margin-top: 5px;
  margin-left: 12px;
  font-size: 0.875rem;
}