@use '@styles/_variables.scss' as variables;

.info {
  display: flex;
  flex-direction: column;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: block;
  margin: 5px 0;
}

.locationLink {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 13px;
  color: variables.$light-gray-color;
  font-weight: 500;

  &:hover,
  &:focus-visible {
    color: variables.$primary-color;
  }
}
