$primary-color: #0C2926;
$secondary-color: #EFF7E8;
$dark-gray-color: #686767;
$light-gray-color: #9C9C9C;
$hover-gray-color: #DBE3D6;
$yellow-color: #E2F397;
$red-color:#C10E0E;
$header-background: $primary-color;
$header-text-color: $secondary-color;
$logo-hover-scale: 1.05;

:root {
  --primary-color: #0C2926;
  --secondary-color: #EFF7E8;
  --light-gray-color: #9C9C9C;
  --hover-gray-color: #DBE3D6;
}