@use './variables' as variables;

.flatpickr-calendar {
  font-size: 14px;
  background-color: #EFF7E8 !important;
  color: #0C2926 !important;
  border: 1px solid #9C9C9C;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 9999;
  font-size: 12px;
}

.flatpickr-calendar .flatpickr-day {
  color: #0C2926;
  border-radius: 5px;
}

.flatpickr-day.today {
  background-color: #444 !important;
  color: #fff !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background-color: #E2F397 !important;
  color: #0C2926 !important;
  border: 1px solid #EFF7E8;
}

.flatpickr-day.selected:hover {
  border-color: #444;
}

.flatpickr-month,
.flatpickr-weekday {
  background-color: #2b2b2b;
  color: #e0e0e0;
}

.flatpickr-time {
  background-color: #1e1e1e;
  color: white !important;
}

.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after,
.flatpickr-calendar.arrowBottom:before,
.flatpickr-calendar.arrowBottom:after {
  display: none !important;
  content: none !important;
}

.flatpickr-calendar.inline {
  background-color: #EFF7E8 !important;
  color: #0C2926 !important;
  border: 1px solid #9C9C9C;
  font-size: 12px;
  z-index: 9999;

  &.inline {
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    left: 0 !important;
    transform: none !important;
    display: block;
    padding: 10px;

    .flatpickr-months,
    .flatpickr-weekdays {
      display: none !important;
    }

    .flatpickr-innerContainer {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
      }
    }

    .flatpickr-rContainer,
    .flatpickr-days,
    .dayContainer {
      display: inline-flex !important;
      flex-wrap: nowrap;
      width: max-content !important;
    }

    .flatpickr-day {
      flex: 0 0 auto;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin: 0 2px;
      border-radius: 5px;

      &.today {
        font-weight: bold;
        border: 2px solid variables.$primary-color;
      }

      &.selected {
        background: #E2F397;
        color: #0C2926;
      }
    }
  }
}
