.priceBadge {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  background-color: #E2F397;
  color: #0C2926;
  border-radius: 10px;
  padding: 6px 12px;
  font-weight: 500;
  z-index: 2;
}

.price {
  font-size: 16px;
  margin-right: 4px;
}

.currency {
  font-size: 14px;
  font-weight: 600;
}