@use '@styles/_variables.scss' as variables;

.textarea {
  padding: 10px;
  border: 1px solid variables.$light-gray-color;
  border-radius: 10px;
  background-color: variables.$secondary-color;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  height: 150px;
}