.textarea {
  padding: 10px;
  border: 1px solid #9C9C9C;
  border-radius: 10px;
  background-color: #EFF7E8;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  height: 150px;
}