@use '@styles/_variables.scss' as variables;

.teamInfo {
  font-size: 13px;
  font-weight: 500;
  color: variables.$light-gray-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  padding-top: 20px;

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: variables.$primary-color;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: calc(100% - 40%);
    height: 1px;
    background-color: variables.$light-gray-color;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.icon {
  position: relative;
  height: 14px;
  vertical-align: middle;
  margin-right: 4px;
  top: -2px;
}

.separator {
  margin: 0 4px;

  @media (max-width: 768px) {
    display: none;
  }
}