@use '@styles/_variables.scss' as variables;

.container {
  width: 100%;
}

.card {
  border: 1px solid variables.$light-gray-color;
  border-radius: 16px;
}

.card:not(:last-child) {
  margin-bottom: 24px;
}

.title {
  border-bottom: 1px solid variables.$light-gray-color;
  padding: 10px 20px;
  border-radius: 16px 16px 0 0;
}

.block {
  padding: 15px 20px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
}