@use '@styles/_variables.scss' as variables;
@use '@styles/mixins.scss' as scroll;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;

  @media (max-width: 768px) {
    margin-bottom: 15px;
  }
}

.filterSection {
  display: flex;
  flex-direction: column;
  
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.calendarSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 7px;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 1px;
    background-color: variables.$light-gray-color;
  }
}

.actions {
  // margin-top: 15px;
}

.results {
  margin-top: 24px;
  flex-grow: 1;
  overflow-y: auto;
}

.categoriesSection {
  // margin-top: 20px;
}

.categoriesScrollContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 70px;
    right: 70px;
    height: 1px;
    background-color: variables.$light-gray-color;
  }
}

.categoriesWrapper {
  @include scroll.scrollWrapper;
}

.categoriesScroll {
  @include scroll.scrollContainer;
}

.categoryItem {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;
  flex-shrink: 0;
  font-weight: 500;
  
  @media (max-width: 480px) {
    font-size: 13px;
    padding: 6px 12px;
  }

  &:hover {
    background: variables.$hover-gray-color;
  }

  &.selected {
    background: variables.$yellow-color;
    border-color: variables.$primary-color;
    font-weight: 500;
  }
}

.scrollArrow {
  @include scroll.scrollArrow;
  
  @media (max-width: 480px) {
    @include scroll.scrollArrow($width: 30px);
  }
  
  &.left img {
    transform: rotate(180deg);
  }
}

.arrowLeft {
  @include scroll.scrollArrow('left');
}

.arrowRight {
  @include scroll.scrollArrow('right');
}

.noResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  text-align: center;
}