@use '@styles/_variables.scss' as variables;
@use '@styles/mixins.scss' as scroll;

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-top: 10px;
}

.sortIcon {
  display: flex;
  align-items: center;
  z-index: 2;
  margin-right: 10px;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
  }

  &:active {
    transform: scale(0.9);
    filter: brightness(0.85);
  }
}

.scrollOuter {
  position: relative;
  overflow-x: hidden;
  width: calc(86vw - 20px);
  max-width: calc(100% - 20px);
}

.scrollWrapper {
  position: relative;
  z-index: 3;
}

.scrollContainer {
  @include scroll.scrollContainer;
}

.arrowLeft {
  @include scroll.scrollArrow('left');
}

.arrowRight {
  @include scroll.scrollArrow('right');
}

.arrowImg {
  @include scroll.arrowImage;
}

.arrowLeft .arrowImg {
  transform: rotate(180deg);
}