.locationPage {

}

.locationContent {
  display: flex;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.locationDetails {
  flex: 1.6;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mapWrapper {
  flex: 1;
  position: relative;
}

.upcomingTitle {
  margin: 40px 0 20px 0;
}

.address {
  color: #666;
}

.description {
  line-height: 1.6;
  margin-top: 5px;
}