.notification {
  right: 20px;
  padding: 15px 20px;
  background-color: #E2F397;
  color: #0C2926;
  border-radius: 15px;
  z-index: 9999;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease, transform 0.5s ease;
  animation: slideInRight 0.5s forwards;
  font-weight: 500;
  font-size: 16px;
  max-width: 90vw;
  transform: translateX(110%);
  width: auto;
  pointer-events: auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.success {
  background-color: #E2F397;
  color: #0C2926;
}

.info {
  background-color: #DBE3D6;
  color: #0C2926;
}

.error {
  background-color: #C10E0E;
  color: white;
  animation: slideInRight 0.5s forwards, shake 0.5s 0.5s;
}

.hiding {
  animation: slideOutRight 0.5s forwards;
}

@keyframes slideInRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-5%);
  }
  40%, 80% {
    transform: translateX(5%);
  }
}
