.comfortaaText {
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: inherit;
}

.logo {
  img {
    width: 30px;
    margin-right: 8px;
  }
}