@use '@styles/_variables.scss' as variables;

.label {
  color: variables.$primary-color;
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  flex: 1 1 auto;
  max-width: fit-content;
  gap: 5px;
}

.label b {
  color: variables.$primary-color;
  font-weight: 400;
  font-size: 13px;
}

.description {
  color: variables.$primary-color;
  font-weight: 600;
  font-size: 13px;
}